<!DOCTYPE html>
<html>
<head>
  <title>Ecomerce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div style="<%= "display:none;" if alert.nil? && notice.nil?  %>">
		<p class="notice" style="<%= "display:none;" if notice.nil? %>"><%= notice %></p>
		<p class="alert" style="<%= "display:none;" if alert.nil? %>"><%= alert %></p>
	</div>
	
	<%= render "partials/nav" %>

	<div class="col-xs-11 no-float center-block top-space">
		<%= yield %>
	</div>

</body>
</html>
